{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Borks{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Borks</a>
            {% if user.is_authenticated %}
            Hi {{ user.username }}!
        <a href="{% url 'logout' %}">logout</a>
            {% else %}
        <a href="{% url 'login' %}">login</a>
            {% endif %}
      </div>
    </nav>

  <hr>

    <div class="container">
      <ol class="breadcrumb my-4">
        {% block breadcrumb %}
        {% endblock %}
      </ol>
      {% block content %}
      {% endblock %}
    </div>
  <hr>

    <footer>
        <a class="navbar-brand"> Kseniya Borokhovskaya</a>
    </footer>
  </body>
</html>