{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Tasks</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'task_create' %}" class="btn btn-primary">New task</a>
  </div>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Tasks</th>
        <th>Assignee</th>
        <th>Creation date</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>
            <a href="{% url 'task_view' task.pk %}">{{ task.name }}</a>
            <small class="text-muted d-block">{{ task.description }}</small>
          </td>
          <td class="align-middle">{{ task.owner }}</td>
          <td class="align-middle">{{ task.creation_date }}</td>
          <td class="align-middle">
              <a href="{% url 'task_update' task.id %}" class="btn btn-outline-primary">Edit</a>
          </td>
          <td class="align-middle">
               <a href="{% url 'task_delete' task.id %}" class="btn btn-outline-danger">Delete</a>
          </td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}