
{% extends 'base.html' %}

{% block title %}New Task{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Tasks</a></li>
  <li class="breadcrumb-item active">New task</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {% include 'form.html' %}
    <button type="submit" class="btn btn-success">Create</button>
  </form>
{% endblock %}