{% extends 'base.html' %}

{% block title %}Update Task{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Tasks</a></li>
  <li class="breadcrumb-item active">Update task</li>
{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    {{  form.as_p }}
    <input type="submit" value="Update">
  </form>
{% endblock %}