{% extends 'base.html' %}

{% block title %}
  {{ task.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Task</a></li>
  <li class="breadcrumb-item active">{{ task.name }}</li>
{% endblock %}

{% block content %}
        <tr>
          <td>
            <a>{{ task.name }}</a>
            <small class="text-muted d-block">{{ task.description }}</small>
             <a>{{ task.owner }}</a>
             <a>{{ task.creation_date }}</a>
             <a>{{ task.place }}</a>
          <td></td>
        </tr>
{% endblock %}