{% extends 'base.html' %}

{% block title %}Delete Task{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Tasks</a></li>
  <li class="breadcrumb-item active">Delete task</li>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <p>
        Are you sure you want to delete task "{{ task.name }}"?
    </p>
    <input type="submit" value="Confirm">
  </form>
{% endblock %}